{# src/_includes/base.njk #}
<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/style.css"></head>
        <link rel="preload" href="/assets/fonts/CormorantGaramond-Light.woff2" as="font" type="font/woff2" crossorigin>
        <body>
          {# This container centers our content #}
          <div class="container">
            <header>
              <h1>Ann Eriksson</h1>
              <a href="/">
                Fotograf och skribent
              </a>
              {# A main site title is good practice #}
              <nav>
                <a href="/">Böcker</a>
                <a href="/utställningar/">Utställningar</a>
                <a href="/visningar/">Visningar</a>
                <a href="/cv/">CV</a>
                <a href="/kontakt/">Kontakt</a>
              </nav>
            </header>
            <main>
              {{ content | safe }}
            </main>
            <footer>
              <p>&copy; {{ metadata.year }} Ann Eriksson</p>
            </footer>
          </div>
        </body>
      </html>