---
pagination:
  data: books    # Use the `books` collection from our data file.
  size: 1        # Create one page per item.
  alias: book    # In this template, refer to the current item as `book`.

permalink: "bocker/{{ book.slug }}/index.html"
eleventyComputed:
  title: "{{ book.title }}"
layout: base.njk
---

{# The visible content for the page begins here #}
<div class="book-detail">
  <div
    class="book-cover">
    {# The image shortcode works just like on the gallery page #}
    {% image book.coverImage, "Omslag för " + book.title, "(max-width: 768px) 100vw, 300px" %}
  </div>
  <div class="book-info">
    <h1>{{ book.title }}</h1>
    <p class="year">
      <em>{{ book.year }}</em>
    </p>
    <div class="description">
      {{ book.description | safe }}
    </div>
  </div>
</div>